<template>
  <div id="app">
    <topBar />
    <login />
    <perfil/>
  </div>
</template>

<script>
import topBar from '@/components/TopBar.vue'
import login from '@/components/LogIn.vue'
import perfil from '@/components/Perfiles.vue'

export default {
  name: 'app',
  components: {
   topBar, login , perfil
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0%;

}

</style>
