<template>
<div class="container"> 
<h3>Usuarios</h3>
<div v-if="$apollo.queries.allPosts.loading">Loading...</div>
 <div v-if="error">{{ error }}</div>
<table  class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Usuario</th>
<th scope="col">Contraseña</th>
<th scope="col">Perfil</th>
<th scope="col">Clave</th>
<th scope="col">Estado</th>
<th scope="col">Acciones</th>
</tr>
</thead>
<tbody>
<tr v-for="(item, index) in allPosts" :key="index">
    <th scope="row"> {{ item.title }}</th>
    <th scope="row">{{ item.views }}</th>
    <th scope="row">22</th>
    <th scope="row">3</th>
    <th scope="row">4</th>
    <th scope="row">5</th>
    <th scope="row">
    <button type="button" class="btn btn-primary">Editar</button> &nbsp;
    <button type="button" class="btn btn-danger">Eliminar</button>
    </th>
</tr>
</tbody>
</table>

</div>
</template>

<script>

import gql from 'graphql-tag';

const GET_MY_TODOS = gql`
        {
                allPosts {
                title
                views
            }
        }
 `;

export default{
    data() {
        return {
            perfiles: "Usuarios",
            allPosts: [],
            error: null
        }
    },

    created(){
    },
    methods: {
    },
    apollo: {
     allPosts: {
       // graphql query
       query: GET_MY_TODOS,
       error(error) {
       this.error = JSON.stringify(error.message);
     }
     },
   },
}
</script>
